
//COLORS
$color-primary:#00a6ed;
$color-primary-dark:#005A98;

$color-secondary: #f6511d;

$color-tertiary: #20ff00;

$color-gold: gold;

$color-grey: #5B6057;


//FONTS
$font-tech: 'Share Tech Mono', monospace;
$font-opensans:'Open Sans', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;